@media (min-width: 900px) {
    main{
        width:100%;
        margin:0 auto;
    }

    header{
        .navigation-toggle{
            display:none;
        }
        height:55vw;
        width:100%;
        position:relative;
    }

    .header-navigation{
        display:inline-block;
        float:right;
        ul{
            padding:0;
            margin:0;
            li{
                display:inline;
                line-height:1em;
                margin-left:5px;
                a{
                    padding:6px 15px;
                    border:2px solid transparent;
                    &:hover, &.active{
                        border-color:#ffffff;
                        border-radius:15px;
                    }
                }
            }
        }
    }

    ul.perks{
        li{
            width:33.33333333%;
        }
    }
}
